VITE_SUPABASE_URL=https://ahwdjqtsqeltkihxlitn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFod2RqcXRzcWVsdGtpaHhsaXRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MzI2MzUsImV4cCI6MjA5MTQwODYzNX0.hMiIzKSMkwta4xQcSGSyvtMHcHiDX9g-8yhiXjowYj4
